---
import Giscus from '../components/Giscus.astro'
import Search from 'astro-pagefind/components/Search'
import { relUrl } from '../utils/url'
import { SITE_PARAMS } from '../../site.config'

const { heading, id, filePath } = Astro.props

const githubUrl = `https://github.com`

const editPageHref = `${githubUrl}/${SITE_PARAMS.repo}/edit/${SITE_PARAMS.branch}/${filePath}`
const viewSourceHref = `${githubUrl}/${SITE_PARAMS.repo}/blob/${SITE_PARAMS.branch}/${filePath}?plain=1`
---

<header class="tab-control">
	<nav class="tab-control__nav">
		<button data-tab-target="readTab" class="tab-control__btn tab-control__btn--active">Read</button
		>
		<button data-tab-target="talkTab" class="tab-control__btn -ml-[1px]">Discussion</button>
	</nav>

	{/* DROPDOWN IN MOBILE */}
	<div class="flex items-center">
		<nav id="dropdownMain" class="tab-control__nav tab-control__nav--dropdown">
			<button data-tab-target="historyTab" class="tab-control__btn -mr-[1px]">View History</button>
			<a href={viewSourceHref} class="tab-control__btn -mr-[1px]">View Source</a>
			<a href={editPageHref} class="tab-control__btn -mr-[1px]">Edit Page</a>
			<button
				data-tab-target="searchTab"
				class="tab-control__btn flex w-72 items-center gap-2 text-left"
			>
				Search: <span
					class="inline-block h-4 w-full cursor-text rounded-xs bg-zinc-900 ring-1 ring-zinc-700"
				></span>
			</button>
		</nav>

		<div class="tab-control__nav">
			<button
				data-dropdown-target="dropdownMain"
				class="tab-control__btn tab-control__btn--dropdown">More</button
			>
		</div>
	</div>
</header>

<main class="tab-content markdown">
	<article id="readTab" class="tab-content__item tab-content__item--active">
		<h1>{heading}</h1>
		<slot name="readTab" />
	</article>

	<aside id="talkTab" class="tab-content__item">
		<h1>Talk In: {heading}</h1>
		<Giscus />
	</aside>

	<aside id="historyTab" class="tab-content__item">
		<h1>History In: {heading}</h1>
		<slot name="historyTab" />
	</aside>

	<aside id="searchTab" class="tab-content__item">
		<Search id="search" className="pagefind-ui dark p-4" uiOptions={{ showImages: false }} />
	</aside>
</main>

<style is:global>
	.pagefind-ui.dark {
		--pagefind-ui-primary: #fff;
		--pagefind-ui-text: #d4d4d4;
		--pagefind-ui-background: #18181b;
		--pagefind-ui-border: #27272a;
		--pagefind-ui-tag: #3f3f46;
    --pagefind-ui-scale: 0.65;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;
		width: 100%;
	}
	.pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 0px;
		z-index: 9999;
		padding: 0 2em 1em;
		overflow-y: auto;
		box-shadow:
			0 10px 10px -5px rgba(0, 0, 0, 0.2),
			0 2px 2px 0 rgba(0, 0, 0, 0.1);
		border-bottom-right-radius: var(--pagefind-ui-border-radius);
		border-bottom-left-radius: var(--pagefind-ui-border-radius);
		background-color: var(--pagefind-ui-background);
	}

	.pagefind-ui .pagefind-ui__result-link {
		color: var(--pagefind-ui-primary);
	}

	.pagefind-ui .pagefind-ui__result-excerpt {
		color: var(--pagefind-ui-text);
	}
</style>
<style>
	@reference '../styles/global.css';
	@layer components {
		/* TAB CONTROLS */
		.tab-control {
			@apply relative flex items-center justify-between pt-4 lg:pt-10;
		}

		.tab-control__nav {
			@apply -mb-[1px] flex items-center;
		}

		/* TAB BUTTONS */
		.tab-control__btn {
			@apply cursor-pointer border border-zinc-700 bg-linear-to-t from-zinc-800 to-zinc-900 px-4 py-2 text-left text-xs lg:text-center;
		}

		.tab-control__btn--active {
			@apply border-b-zinc-900 bg-linear-to-t from-zinc-900 to-zinc-900 text-white;
		}

		/* TAB CONTROL DROPDOWN */
		.tab-control__btn--dropdown {
			@apply lg:hidden;
		}

		.tab-control__nav--dropdown {
			@apply absolute top-full right-1 hidden lg:relative lg:right-0 lg:flex lg:items-center z-20;
		}

		.tab-control__nav--active {
			@apply grid;
		}

		/* TAB CONTENT */
		.tab-content {
			@apply border border-zinc-700 px-4 md:px-6;
		}

		.tab-content__item {
			@apply hidden min-h-dvh;
		}

		.tab-content__item--active {
			@apply block;
		}
	}
</style>
